body {
  font-size: 11px;
}

.btn {
  font-size: 12px;
  line-height: 1.2;
  padding: 2px 4px;
}

.btn span {
  vertical-align: middle;
  margin-bottom: -2px;
  display: inline-block;
}

.btn .material-icons {
  font-size: 1.5em;
  vertical-align: middle;
}

.container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}

.modal-footer {
  flex-wrap: nowrap;
}

.modal-footer .button-group {
  display: flex;
}

.ia-template {
  display: none;
}

.table td, .table th{
  padding: .3rem .1rem;
  vertical-align: middle;
}

.text-input-with-dropdown button {
  padding: 0 .7em;
  /*border-radius: 0 5px 5px 0;*/
  line-height: 1.95em;
}

.text-input-with-dropdown input {
  /*border-radius: 5px 0 0 5px;*/
}

input[type="text"], input[type="password"] {
  border: none;
  border-bottom: .5px solid #bbb;
  /*border-radius: 0;*/
  line-height: 2em;
}

#ia-connection-modal {
  /*width: 90%;*/
}

@media (min-width:576px) {
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

@media (min-width:768px) {
  .modal-xl {
    max-width: 90%;
  }
}

#ia-header {
  margin: 0px;
  margin-bottom: 6px;
  padding-bottom: 2px;
  border-bottom: 1px solid #aaa;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 24px;
  padding: 0 4px;
  line-height: 1;
}

.add-btn {
  color: rgb(0,191,0);
}

.remove-btn {
  color: red;
  font-size: 22px;
}

.error-text {
  color: red;
}

.refresh-btn {
  color: rgb(0,191,0);
}

/* Table row without boundary between itself and the row above */
/*tr.connected-row {*/
/*}*/

tr.connected-row td {
  border-top: none;
  padding-top: 0px;
}

.form-inline .form-group {
  flex-grow: 1;
}
.form-inline input {
  flex-grow: 1;
}

.table input {
    width: 100%;
}

.text-muted td {
  color: #aaa;
}

#ia-axis-mappings {
  font-size: .9rem;
}

#ia-axis-mappings .dataTables_filter {
  float: right !important;
}

.ia-axis-mapping .dropdown-menu {
  font-size: 1em;
  max-height: 20em;
  overflow-y: auto;
}

.ia-axis-mapping .dropdown-item {
}


#loading-spinner-modal .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

#loading-spinner-modal .modal-content {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ccc;
  font-size: 30px;
}

#loading-spinner-modal .loading-spinner-icon {
  /*font-size: 30px;*/
}

#loading-spinner-modal .loading-msg {
  font-weight: 100;
  margin-bottom: 20px;
}

.ion-load-c {
  display: inline-block;
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.ia-show-console {
  font-size: 14px;
}

#console-out {
  font-size: 10px;
  max-width: 98vw;
}

#console-out .ia-copy-content {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

#console-out p {
  margin-bottom: .4em;
}
/*#loading-spinner-modal {*/
/*  max-height: 50vh;*/
/*}*/

.modal-backdrop {
  background-color: rgba(1,1,1,.5) !important;
}

#variable-select-modal {
}
